<div>
    <form align="center">
        Source <input #source type="text">
        Destination <input #destination type="text">
        Flight Date <input #flightDate type="date">
        Return Date <input #returnDate type="date">
        <input type="button" value="Search"
            (click)="search(source.value, destination.value, flightDate.value, returnDate.value)">
    </form>

    <div id="flightList">

        
        <table>
            <tr>
                <th>Airline</th>
                <th>Start Time</th>
                <th>EndTime</th>
                <th>Ticket Cost</th>
            </tr>
            <tr></tr>
        </table>
    </div>

    <div id="returnList" *ngIf="!!returnDate">

        <table>
            <tr>
                <th>Airline</th>
                <th>Start Time</th>
                <th>EndTime</th>
                <th>Ticket Cost</th>
            </tr>
            <tr></tr>
        </table>
    </div>

</div>