<div align="center" >
    <form 
      [formGroup]="searchForm"
      (submit)="search(source.value, destination.value, flightDate.value, returnDate.value)">
        Source<span class="required">*</span> <input #source type="text" formControlName="source">
        Destination<span class="required">*</span> <input #destination type="text" formControlName="destination">
        Flight Date<span class="required">*</span> <input #flightDate type="date" formControlName="flightDate">
        Return Date <input #returnDate type="date" formControlName="returnDate">
        <input type="submit" value="Search" [disabled]="searchForm.invalid">
    </form>


    <div id="flightList" *ngIf="!!searchResult && !!searchResult.departureFlightResultList && searchResult.departureFlightResultList.length>0">
        <h4>{{searchResult.source}} to {{searchResult.destination}} on {{searchResult.departureDate | date:"dd-MM-yyyy"}}</h4>
        <table>
            <tr>
                <th>Airline</th>
                <th>Start Time</th>
                <th>EndTime</th>
                <th>Ticket Cost</th>
                <th>Book Tickets</th>
            </tr>
            <tr *ngFor="let searchResultEntity of searchResult.departureFlightResultList">
                <td>{{searchResultEntity.airlineName}}</td>
                <td>{{searchResultEntity.startTime}}</td>
                <td>{{searchResultEntity.endTime}}</td>
                <td>{{searchResultEntity.ticketCost}}</td>
                <td *ngIf="isLoggedIn() && isUser()"><a routerLink="../user/bookflight"><button>Book Flight</button></a></td>
                <td *ngIf="!isLoggedIn() || !isUser()"><a routerLink="../login"><button>Login to Book</button></a></td>
            </tr>
        </table>
    </div>

    <div id="returnList" *ngIf="!!searchResult && !!searchResult.returnFlightResultList && searchResult.returnFlightResultList.length>0">
        <h4>{{searchResult.destination}} to {{searchResult.source}} on {{searchResult.returnDate | date:"dd-MM-yyyy"}}</h4>
        <table>
            <tr>
                <th>Airline</th>
                <th>Start Time</th>
                <th>EndTime</th>
                <th>Ticket Cost</th>
                <th>Book Ticket</th>
            </tr>
            <tr *ngFor="let returnSearchResultEntity of searchResult.returnFlightResultList">
                <td>{{returnSearchResultEntity.airlineName}}</td>
                <td>{{returnSearchResultEntity.startTime}}</td>
                <td>{{returnSearchResultEntity.endTime}}</td>
                <td>{{returnSearchResultEntity.ticketCost}}</td>
                <td *ngIf="isLoggedIn() && isUser()"><a routerLink="../user/bookflight"><button>Book Flight</button></a></td>
                <td *ngIf="!isLoggedIn() || !isUser()"><a routerLink="../login"><button>Login to Book</button></a></td>
            </tr>
        </table>
    </div>

</div>